# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
file = "../output_data/cities.csv"
data = pd.read_csv(file)
data.head(50)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
5,5,atuona,78,PF,1558378755,76,-9.80,-139.03,81.96,16.49
6,6,flinders,0,AU,1558378755,62,-34.58,150.85,60.01,11.41
7,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44
8,8,tiksi,95,RU,1558378756,88,71.64,128.87,14.10,15.70
9,9,pushkinskiye gory,6,RU,1558378756,70,57.02,28.91,65.04,6.93
10,10,aykhal,90,RU,1558378756,48,65.95,111.51,39.20,11.18
11,11,castro,0,CL,1558378756,70,-42.48,-73.76,48.20,9.17
12,12,avarua,100,CK,1558378756,94,-21.21,-159.78,71.60,2.24
13,13,saskylakh,0,RU,1558378757,91,71.97,114.09,4.92,2.26
14,14,constitucion,5,MX,1558378757,4,23.99,-104.67,84.20,16.11
15,15,albany,40,US,1558378727,45,42.65,-73.75,82.40,12.75
16,16,vilyuysk,16,RU,1558378757,59,63.75,121.63,34.62,5.84
17,17,ushuaia,75,AR,1558378606,75,-54.81,-68.31,44.60,36.91
18,18,bambous virieux,75,MU,1558378758,74,-20.34,57.76,78.80,11.41
19,19,kodinsk,14,RU,1558378758,81,58.60,99.18,48.84,4.97
20,20,teknaf,1,BD,1558378758,85,20.86,92.31,84.66,8.23
21,21,busselton,84,AU,1558378758,63,-33.64,115.35,55.00,12.86
22,22,ambon,11,FR,1558378758,93,47.55,-2.56,64.99,5.82
23,23,maragogi,97,BR,1558378610,69,-9.01,-35.22,83.94,9.42
24,24,fallon,90,US,1558378758,53,46.84,-105.12,51.80,18.34
25,25,kantang,20,TH,1558378759,94,7.42,99.52,78.80,6.93
26,26,colonelganj,0,IN,1558378759,14,27.13,81.70,94.20,5.08
27,27,punta arenas,40,CL,1558378759,61,-53.16,-70.91,50.00,46.08
28,28,rikitea,95,PF,1558378669,76,-23.12,-134.97,74.58,12.82
29,29,new norfolk,40,AU,1558378759,66,-42.78,147.06,57.99,5.82
30,30,gobabis,0,NaN,1558378567,24,-22.45,18.97,68.00,2.24
31,31,qingdao,0,CN,1558378760,54,36.09,120.35,59.00,2.24
32,32,port hardy,90,CA,1558378564,87,50.70,-127.42,53.60,5.82
33,33,arman,0,RU,1558378760,64,59.70,150.17,31.56,5.30
34,34,mamakan,26,RU,1558378760,90,57.82,114.02,31.38,2.82
35,35,bethel,20,US,1558378760,71,60.79,-161.76,51.80,4.68
36,36,clinton,75,US,1558378556,54,41.84,-90.19,55.40,10.29
37,37,varhaug,0,NO,1558378761,63,58.61,5.65,64.99,8.05
38,38,ayan,76,TR,1558378761,58,40.67,33.60,56.94,0.54
39,39,mayor pablo lagerenza,43,PY,1558378761,33,-19.93,-60.77,91.86,14.90
40,40,hermanus,9,ZA,1558378761,74,-34.42,19.24,55.00,23.78
41,41,torbay,75,CA,1558378627,65,47.66,-52.73,48.00,24.16
42,42,yellowknife,75,CA,1558378762,26,62.45,-114.38,55.40,8.05
43,43,kruisfontein,92,ZA,1558378762,69,-34.00,24.73,55.68,16.53
44,44,puerto ayora,26,EC,1558378762,86,-0.74,-90.35,79.00,5.99
45,45,rosita,72,NI,1558378762,71,13.92,-84.40,84.12,4.41
46,46,beloha,100,MG,1558378762,85,-25.17,45.06,70.08,10.00
47,47,port elizabeth,20,US,1558378762,46,39.31,-74.98,93.00,12.75
48,48,port alfred,67,ZA,1558378763,69,-33.59,26.89,61.00,8.01
49,49,garchitorena,59,PH,1558378763,75,13.88,123.70,84.30,6.11

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
locations = data[["Lat", "Lng"]]

humidity = data["Humidity"].astype(float)

In [8]:
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
heatmap = gmaps.heatmap_layer(locations, weights= humidity, dissipating= False, max_intensity= 10, point_radius= 1)

fig.add_layer(heatmap)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
cities = data.loc[(data["Max Temp"] < 80) & (data["Max Temp"] > 70) & (data["Wind Speed"] < 10) & (data["Cloudiness"] == 0)]

cities

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
7,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel_df = cities
parameters = {"radius": 5000, "types": "lodging", "key": g_key}

In [11]:
for index, row in hotel_df.iterrows():
    lat = []
    lng = []
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    parameters["locations"] = f"{lat}, {lng}"
    print(f"Retrieving Results for Index {index}: {row['City']}")
    response = requests.get(base_url, params= parameters).json()
    results = response["results"]

    try:
        print(f"Clostest hotel is {results[0]['name']}")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    except (KeyError, IndexError):
        print("Missing feild/result... skipping.")

    print("--------------")

Retrieving Results for Index 7: opuwo
Missing feild/result... skipping.
--------------
Retrieving Results for Index 70: ponta do sol
Missing feild/result... skipping.
--------------
Retrieving Results for Index 88: cidreira
Missing feild/result... skipping.
--------------
Retrieving Results for Index 138: morondava
Missing feild/result... skipping.
--------------
Retrieving Results for Index 139: vaini
Missing feild/result... skipping.
--------------
Retrieving Results for Index 176: nador
Missing feild/result... skipping.
--------------
Retrieving Results for Index 297: mogok
Missing feild/result... skipping.
--------------
Retrieving Results for Index 444: birjand
Missing feild/result... skipping.
--------------

In [12]:
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
7,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(makers)

# Display figure
fig